---
import { Icon } from "astro-icon"
---

<section class="bg-violet-50 dark:bg-slate-800">
  <div
    class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium"
  >
    <span class="font-bold">
      <Icon
        name="tabler:clock"
        class="w-5 h-5 inline-block align-text-bottom"
      /> y vos, qué estás esperando?
    </span><Icon
      name="tabler:clock"
      class="w-5 h-5 inline-block align-text-bottom"
    />
  </div>
</section>
