---
import { SITE } from "~/config.mjs"
import Layout from "~/layouts/PageLayout.astro"

import Hero from "~/components/widgets/Hero.astro"
// import Note from "~/components/widgets/Note.astro"
import Features from "~/components/widgets/Features.astro"
// import Features2 from "~/components/widgets/Features2.astro"
import Steps from "~/components/widgets/Steps.astro"
// import Content from "~/components/widgets/Content.astro"
import FAQs from "~/components/widgets/FAQs.astro"
// import Stats from "~/components/widgets/Stats.astro"
import CallToAction from "~/components/widgets/CallToAction.astro"

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
}
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      text: "Contactate",
      href: "https://namic.dev",
      icon: "tabler:edit",
    }}
    callToAction2={{ text: "Conocé más", href: "#info" }}
    image={{
      src: import("~/assets/images/hero.png"),
      alt: "Fila QR Hero Image",
    }}
  >
    <Fragment slot="title">
      revolución
      <span class="dark:text-white" style="color: rgb(30, 64, 175);"
        >Fila QR</span
      >

      <p></p>la inteligencia no espera
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Permite que tus clientes se registren fácilmente desde sus dispositivos
        móviles, esperen con comodidad desde cualquier ubicación y reciban
        notificaciones precisas para acercarse a tu establecimiento en el
        momento justo
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    highlight="Info"
    title="conocé más"
    subtitle="La mejor forma de gestionar la espera de tus clientes"
    items={[
      [
        {
          title: "Notificacion instantánea",
          description:
            "Clientes actualizados en todo momento sobre el estado de su turno",
          icon: "tabler:bell",
        },
        {
          title: "Intuitivo",
          description: "Uso del código QR intuitivo y familiar",
          icon: "tabler:qrcode",
        },
        {
          title: "Diferenciación",
          description:
            "Tecnología para mejorar la experiencia de tus clientes y darles una razón adicional para elegirte",
          icon: "tabler:star",
        },
      ],
      [
        {
          title: "Inteligencia para tu negocio",
          description:
            "Datos sobre la atención de tu organización para tomar decisiones informadas y mejorarlo",
          icon: "tabler:chart-area-line",
        },
        {
          title: "Control en tiempo real",
          description:
            "Información inmediata sobre la cantidad de clientes en espera y la demora del servicio",
          icon: "tabler:clock",
        },
        {
          title: "Reducción de costos",
          description:
            "Ahorro de costos utilizando automatizando procesos y optimizando recursos",
          icon: "tabler:currency-dollar",
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: "Per ei quaeque sensibus",
        description:
          "Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.",
      },
      {
        title: "Cu imperdiet posidonium sed",
        description:
          "Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.",
      },
      {
        title: "Nulla omittam sadipscing mel ne",
        description:
          "At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.",
      },
    ]}
    image={{
      src: import("~/assets/images/caos.jpg"),
      alt: "Colorful Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Ad vix debet docendi
      </h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione
      ut, persius eripuit quo id. Sit te euismod tacimates.
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: "Per ei quaeque sensibus",
      },
      {
        title: "Cu imperdiet posidonium sed",
      },
      {
        title: "Nulla omittam sadipscing mel ne",
      },
      {
        title: "Per ei quaeque sensibus",
      },
      {
        title: "Cu imperdiet posidonium sed",
      },
      {
        title: "Nulla omittam sadipscing mel ne",
      },
    ]}
    image={{
      src: import("~/assets/images/vintage.jpg"),
      alt: "Vintage Image",
    }}
  /> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="gestioná la espera de tus clientes con Fila QR"
    items={[
      {
        title:
          'Paso 1: <span class="font-medium">contactate con nosotros</span>',
        description:
          "comunícate con nosotros para comenzar a utilizar Fila QR. Te brindaremos toda la información necesaria y resolveremos tus dudas",
        icon: "tabler:edit",
      },
      {
        title: 'Paso 2: <span class="font-medium">Fila QR en tu negocio</em>',
        description:
          "integra Fila QR en tu establecimiento de manera sencilla y rápida. Nuestro equipo te guiará en el proceso de instalación y configuración",
        icon: "tabler:package",
      },
      {
        title:
          'Paso 3: <span class="font-medium">personalizá tus preferencias</span>',
        description:
          "ajusta las preferencias de Fila QR según tus necesidades. Configura los tiempos de espera, las notificaciones y más, para brindar una experiencia óptima a tus clientes",
        icon: "tabler:settings",
      },
      {
        title: "Listo!",
        // description:
        //   "ya estás listo para disfrutar de los beneficios de Fila QR en tu negocio! Brinda un servicio eficiente y mejora la experiencia de tus clientes",
        icon: "tabler:check",
      },
    ]}
    image={{
      src: import("~/assets/images/creativity.jpeg"),
      alt: "Steps image",
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
    items={[
      {
        title: "Headers",
        description:
          "In general, Headers contain information that makes it easier for visitors to interact with the website.",
        icon: "flat-color-icons:template",
      },
      {
        title: "Heros",
        description:
          "If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.",
        icon: "flat-color-icons:gallery",
      },
      {
        title: "Features",
        description:
          "Display your product in action and how the Features actually create a solution for your target customer.",
        icon: "flat-color-icons:todo-list",
      },
      {
        title: "Content",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
        icon: "flat-color-icons:document",
      },
      {
        title: "Call-to-Action",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
        icon: "flat-color-icons:advertising",
      },
      {
        title: "Pricing",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
        icon: "flat-color-icons:currency-exchange",
      },
      {
        title: "Testimonial",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
        icon: "flat-color-icons:voice-presentation",
      },
      {
        title: "Contact",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
        icon: "flat-color-icons:business-contact",
      },
      {
        title: "Footers",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
        icon: "icon-park:page-template",
      },
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="información útil"
    subtitle="Respuestas a las dudas más comunes sobre Fila QR"
    highlight="Preguntas frecuentes"
    items={[
      [
        {
          question: "¿Cómo funciona Fila QR?",
          answer:
            "Fila QR es una solución de gestión de colas que utiliza códigos QR para permitir a tus clientes registrarse y recibir notificaciones sobre su turno. Simplemente configura Fila QR en tu negocio, los clientes escanean el código QR para registrarse y luego estarán informados sobre su posición en la cola y el tiempo estimado de espera estimado para su atención",
        },
        {
          question: "¿Cómo puedo implementar Fila QR en mi negocio?",
          answer:
            "Implementar Fila QR en tu negocio es fácil. Simplemente contactate con nosotros a través de nuestro sitio web y un asesor experto te guiará",
        },
      ],
      [
        {
          question: "¿Qué beneficios ofrece Fila QR?",
          answer:
            "Fila QR ofrece varios beneficios para tu negocio. Permite una gestión eficiente de las colas, reduce el tiempo de espera de los clientes, proporciona notificaciones en tiempo real sobre el estado de la cola y ofrece datos analíticos para que puedas tomar decisiones informadas para mejorar la experiencia de tus clientes",
        },
        {
          question: "¿Es seguro utilizar Fila QR?",
          answer:
            "Sí, Fila QR se ha diseñado con un enfoque en la seguridad de los datos y la privacidad de los clientes. Utilizamos medidas de seguridad avanzadas para proteger la información personal de tus clientes. Además, cumplimos con las regulaciones de protección de datos vigentes para garantizar la confidencialidad de la información",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: "Downloads", value: "132K" },
      { name: "Stars", value: "24.8K" },
      { name: "Forks", value: "10.3K" },
      { name: "Users", value: "48.4K" },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: "Contactate",
      href: "https://namic.dev",
      icon: "tabler:edit",
    }}
  >
    <Fragment slot="title">
      sumate a la revolución
      <span class="dark:text-white" style="color: rgb(30, 64, 175);"
        >Fila QR</span
      >
    </Fragment>

    <Fragment slot="subtitle">La inteligencia no espera, y vos?</Fragment>
  </CallToAction>
</Layout>
